body{
    font-size: 16px;
  }

  h1{
      font-family: sans-serif;
      font-size: 65px;
      color: orange;
  }

  p{
    font-size: 3em;
    font-weight: 600;
    text-decoration: overline;
    text-shadow: 2px 2px 5px white;
  }

  ul{
      background-color: pink;
      text-align: center;
  }

  .other-background{
      background-color: plum;
  }
  
  .amarelo{
    background-color: yellow;
  }
  .Vermelho{
    background-color: tomato;
  }
  .Marrom{
    background-color: maroon;
  }

